#grid, #kanji {
  position: absolute;
  left: 50px;
  top: 50px;
}

#grid line {
  stroke: red;
}

#kanji svg {
  width: 180px !important;
  height: 180px !important;
}

#kanji path {
  fill: none;
  stroke: #000000;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  display: none;
}

#kanji text {
  font-size: 8px;
  fill: #808080;
  display: none;
}

#kanji .draw {
  display: block;
  stroke-dasharray: 180;
  stroke-dashoffset: 180;
  animation: dash 1s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}