.grid, .strokes {
  position: absolute;
  left: 0;
  top: 0;
}

.grid line {
  stroke: red;
}

#kanji {
  position: relative;
  height: 180px;
}

.strokes svg {
  width: 180px !important;
  height: 180px !important;
}

.strokes path {
  fill: none;
  stroke: #000000;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  display: none;
}

.strokes text {
  font-size: 8px;
  fill: #808080;
  display: none;
}

.strokes .draw {
  display: block;
  stroke-dasharray: 180;
  stroke-dashoffset: 180;
  animation: dash 1s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}